@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Guid değerleri (direkt)</h2>
    <p>Singleton : @ViewBag.Singleton</p>
    <p>Scoped : @ViewBag.Scoped</p>
    <p>Transient: @ViewBag.Transient</p>

    <h2>Scoped:</h2>
    <hr />

    <p>Singleton : @ViewBag.ServiceSingleton</p>
    <p>Scoped : @ViewBag.ServiceScoped</p>
    <p>Transient: @ViewBag.ServiceTransient</p>
</div>
